.App {
  text-align: center;
}
body {
  background-color: #004050;
  color: white;
}

.card {
  background-color: #ffffff;
  color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Movies Listing */ 
background{
  color: darkslategray;
}

#movie-title{
  color:cornflowerblue
}



/* classifications */


.container{
  display: flex;
  align-items: center;
  justify-content:left;
}


  .img-col{
    justify-content: center;


  }


  .img-col{
    font-size: medium;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;

  }

  .form-control{
    background-color: #282c34;
    color: #6d6d6d;
  }

  .form-select{
    background-color: #282c34;
    color: #6d6d6d;
  }

  
